################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InternsAssessmentTracker/.vs/InternsAssessmentTracker/v16/Server/sqlite3
